Team 404:  Sprint 1 Test Results

Ahsan Hasnath, Cristofer Carcamo, Joshua Steinerman, Zal Patel, Akshay
Patel

CS-684: Quality Assurance

Overall Test Results:

Summary: 

  Sprint 2 Functional testing of Project 404 was conducted during the
dates of 3/06/2023 through 3/26/2023 where various test activities were
developed and executed. Once the application was completed, testing was
executed by multiple testers to cover all newly implemented features
through unit testing, API Testing, and Functional testing. Failed test
cases were rerun after defect fixes to verify changes through additional
iterations of testing.

Sprint 1 Overall Test Execution Results:

  -------------------------------------------------------------------------------------
  Test Type             \# of     Executed   Passed   Failed   Executed % Pass % Fail %
                        Scripts                                                  
  --------------------- --------- ---------- -------- -------- ---------- ------ ------
  Functional Testing -  7         7          6        1        100%       86%    14%
  Iteration 1                                                                    

  Functional Testing -  7         7          1        0        100%       100%   0%
  Iteration 2                                                                    

  Total:                7         7          6        1        100%       93%    7%
  -------------------------------------------------------------------------------------

Functional Testing: 

The tables below summarize the results of Functional Testing.

Iteration 1: 

  -------------------------------------------------------------------------------
  Test Case Date        Tester      Pass/Fail:   Comments:
  ID:       Tested:     Name:                    
  --------- ----------- ----------- ------------ --------------------------------
  Test Case 3/25/2023   Ahsan       Pass         
  ID: 14                Hasnath                  

  Test Case 3/25/2023   Ahsan       Pass         
  ID: 15                Hasnath                  

  Test Case 3/25/2023   Ahsan       Pass         
  ID: 16                Hasnath                  

  Test Case 3/25/2023   Ahsan       Fail         The user can submit preferences
  ID: 17                Hasnath                  without selecting a category.

  Test Case 3/25/2023   Ahsan       Pass         
  ID: 18                Hasnath                  

  Test Case 3/25/2023   Ahsan       Pass         
  ID: 19                Hasnath                  

  Test Case 3/25/2023   Ahsan       Pass         
  ID: 20                Hasnath                  
  -------------------------------------------------------------------------------

Iteration 2: 

  ----------------------------------------------------------------------------
  Test Case ID:  Date Tested: Tester Name:    Pass/Fail:   Comments:
  -------------- ------------ --------------- ------------ -------------------
  Test Case ID:  3/25/2023    Ahsan Hasnath   Pass         
  14                                                       

  Test Case ID:  3/25/2023    Ahsan Hasnath   Pass         
  15                                                       

  Test Case ID:  3/25/2023    Ahsan Hasnath   Pass         
  16                                                       

  Test Case ID:  3/25/2023    Ahsan Hasnath   Pass         The defect was
  17                                                       fixed.

  Test Case ID:  3/25/2023    Ahsan Hasnath   Pass         
  18                                                       

  Test Case ID:  3/25/2023    Ahsan Hasnath   Pass         
  19                                                       

  Test Case ID:  3/25/2023    Ahsan Hasnath   Pass         
  20                                                       
  ----------------------------------------------------------------------------
