<div class="full-width text-center">

  <img src="../Images/404meme2.png" alt="404 Meme" />
  <p class="lead"><strong>Team 404</strong> </p>

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>homepage</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

  <div class="container">
    <h1>Welcome to the homepage!!</h1>
  <div class="footer">
      <p class="lead">
        <a class="btn btn-primary btn-sm" href="/signin" role="button">Already a member? Login</a>
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-sm" href="/signup" role="button">Register for our site!</a>
      </p>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>