<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .login-form {
        width: 340px;
        margin: 50px auto;
        font-size: 15px;
      }
      .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
      }
      .login-form h2 {
        margin: 0 0 15px;
      }
      .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
      }
      .btn {
        font-size: 15px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="login-form">
      <form onsubmit="event.preventDefault(); this.action='./signin'; this.submit();" method="post">
        <h2 class="text-center">Log in</h2>
        {{#if message}}
          <div class="alert alert-danger" role="alert">
            {{message}}
          </div>
        {{/if}}
        {{#if successMessage}}
          <div class="alert alert-success" role="alert">
            {{successMessage}}
          </div>
        {{/if}}
        <div id="registration-success-message"></div>
        <div class="form-group">
          <input type="text" class="form-control" name="emailOrUsername" placeholder="Email or Username" required="required">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Password" required="required">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        <p class="text-center"><a href="/signup">Create an Account</a></p>
        <div class="form-group">
          <p>
            <a class="btn btn-primary btn-sm" href="/" role="button">Return to Homepage</a>
          </p>
        </div>
      </form>
    </div>
    <script>
      // Check if registrationSuccess query parameter exists
      const urlParams = new URLSearchParams(window.location.search);
      const registrationSuccess = urlParams.get('registrationSuccess');
      
      // If registrationSuccess is true, show the message
      if (registrationSuccess === 'true') {
        const messageDiv = document.getElementById('registration-success-message');
        messageDiv.innerHTML = '<p class="text-success">Registration successful! Please log in to continue.</p>';
      }
    </script>
  </body>
</html>
